<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>decodes</key>
		<array/>
		<key>detailColumns</key>
		<array>
			<dict>
				<key>columnKey</key>
				<string>number</string>
				<key>name</key>
				<string>#</string>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>sourceString</string>
				<key>name</key>
				<string>Source</string>
				<key>width</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>destinationString</string>
				<key>name</key>
				<string>Destination</string>
				<key>width</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>typeString</string>
				<key>name</key>
				<string>Type</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>flagsString</string>
				<key>name</key>
				<string>Flags</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>infoString</string>
				<key>name</key>
				<string>Information</string>
				<key>width</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>descriptionString</string>
				<key>name</key>
				<string>Description</string>
				<key>width</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>captureLength</string>
				<key>name</key>
				<string>Cap. Length</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>length</string>
				<key>name</key>
				<string>Length</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>timestamp</string>
				<key>name</key>
				<string>Timestamp</string>
				<key>width</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>columnKey</key>
				<string>timeString</string>
				<key>name</key>
				<string>Time</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
		</array>
		<key>dissectorClassName</key>
		<string>Packet</string>
		<key>protocol</key>
		<string>packet</string>
	</dict>
</array>
</plist>
