<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dissectorClassName</key>
		<string>TCPPacket</string>
		<key>aggregateClassName</key>
		<string>TCPAggregate</string>
		<key>name</key>
		<string>TCP Conversations</string>
		<key>protocol</key>
		<string>TCP</string>
		<key>defaultsClassName</key>
		<string>TCPAggregateDefaults</string>
		<key>primaryProtocol</key>
		<string>TCP</string>
		<key>payloadViews</key>
		<array>
			<dict>
				<key>name</key>
				<string>Text</string>
				<key>viewKey</key>
				<string>payloadTextView</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Images</string>
				<key>viewKey</key>
				<string>payloadImageView</string>
			</dict>
		</array>
		<key>detailColumns</key>
		<array>
			<dict>
				<key>name</key>
				<string>Type</string>
				<key>columnKey</key>
				<string>typeString</string>
				<key>width</key>
				<string>40</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Time</string>
				<key>columnKey</key>
				<string>timeString</string>
				<key>width</key>
				<string>80</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Source</string>
				<key>columnKey</key>
				<string>sourceString</string>
				<key>width</key>
				<string>80</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Destination</string>
				<key>columnKey</key>
				<string>destinationString</string>
				<key>width</key>
				<string>80</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>dissectorClassName</key>
		<string>TCPPacket</string>
		<key>aggregateClassName</key>
		<string>TCPLowPortAggregate</string>
		<key>name</key>
		<string>TCP Low Port</string>
		<key>protocol</key>
		<string>TCP</string>	
		<key>primaryProtocol</key>
		<string>TCP</string>
	</dict>
</array>
</plist>
