<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dissectorClassName</key>
		<string>TCPPacket</string>
		<key>protocol</key>
		<string>TCP</string>
		<key>decodes</key>
		<array>
			<string>IP</string>
		</array>
		<key>defaultsClassName</key>
		<string>TCPPacketDefaults</string>
		<key>detailColumns</key>
		<array>
			<dict>
				<key>name</key>
				<string>Source Port</string>
				<key>columnKey</key>
				<string>tcpSourcePort</string>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Destination Port</string>
				<key>columnKey</key>
				<string>tcpDestinationPort</string>
				<key>width</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Acknowledgement</string>
				<key>columnKey</key>
				<string>tcpAcknowledgement</string>
				<key>width</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Sequence</string>
				<key>columnKey</key>
				<string>tcpSequence</string>
				<key>width</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Window</string>
				<key>columnKey</key>
				<string>tcpWindow</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
