<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dissectorClassName</key>
		<string>EthernetPacket</string>
		<key>protocol</key>
		<string>Ethernet</string>
		<key>decodes</key>
		<array>
			<string>packet</string>
		</array>
		<key>detailColumns</key>
		<array>
			<dict>
				<key>name</key>
				<string>Source MAC Address</string>
				<key>columnKey</key>
				<string>ethernetSource</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Destination MAC Address</string>
				<key>columnKey</key>
				<string>ethernetDestination</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethernet Protocol</string>
				<key>columnKey</key>
				<string>ethernetProtocol</string>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethernet Protocol Name</string>
				<key>columnKey</key>
				<string>ethernetProtocolString</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethernet Header Data</string>
				<key>columnKey</key>
				<string>ethernetHeaderData</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethernet Payload Data</string>
				<key>columnKey</key>
				<string>ethernetPayloadData</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethernet Header Length</string>
				<key>columnKey</key>
				<string>ethernetHeaderLength</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethernet Payload Length</string>
				<key>columnKey</key>
				<string>ethernetPayloadLength</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>dissectorClassName</key>
		<string>IPPacket</string>
		<key>protocol</key>
		<string>IP</string>
		<key>decodes</key>
		<array>
			<string>Ethernet</string>
		</array>
		<key>detailColumns</key>
		<array>
			<dict>
				<key>name</key>
				<string>IP Source</string>
				<key>columnKey</key>
				<string>ipSource</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>IP Destination</string>
				<key>columnKey</key>
				<string>ipDestination</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>IP Protocol</string>
				<key>columnKey</key>
				<string>ipProtocol</string>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>IP Protocol Name</string>
				<key>columnKey</key>
				<string>ipProtocolString</string>
				<key>width</key>
				<integer>40</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
