<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dissectorClassName</key>
		<string>IPPacket</string>
		<key>aggregateClassName</key>
		<string>IPSourceAggregate</string>
		<key>name</key>
		<string>IP Source</string>
		<key>protocol</key>
		<string>IP</string>
	</dict>
	<dict>
		<key>dissectorClassName</key>
		<string>IPPacket</string>
		<key>aggregateClassName</key>
		<string>IPDestinationAggregate</string>
		<key>name</key>
		<string>IP Destination</string>
		<key>protocol</key>
		<string>IP</string>
	</dict>
</array>
</plist>
