<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Syncronize</string>
		<key>shortName</key>
		<string>SYN</string>
		<key>symbol</key>
		<string>S</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Acknowledge</string>
		<key>shortName</key>
		<string>ACK</string>
		<key>symbol</key>
		<string>A</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Push</string>
		<key>shortName</key>
		<string>PUSH</string>
		<key>symbol</key>
		<string>P</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reset</string>
		<key>shortName</key>
		<string>RST</string>
		<key>symbol</key>
		<string>R</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finish</string>
		<key>shortName</key>
		<string>FIN</string>
		<key>symbol</key>
		<string>F</string>
	</dict>
</array>
</plist>
