<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dissectorClassName</key>
		<string>EthernetPacket</string>
		<key>protocol</key>
		<string>Ethernet</string>
		<key>decodes</key>
		<array>
			<string>packet</string>
		</array>
	</dict>
	<dict>
		<key>dissectorClassName</key>
		<string>IPPacket</string>
		<key>protocol</key>
		<string>IP</string>
		<key>decodes</key>
		<array>
			<string>Ethernet</string>
		</array>
	</dict>
</array>
</plist>
